
  body {
    display: block;
    justify-content: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    text-align: left;
    background-image: url("https://images.hdqwalls.com/download/travel-hd-1366x768.jpg");
    }
    form {
    border: 5px solid #f1f1f1;
    margin-top: 70px;
    width: 20%;
    }
    input[type=text], input[type=password], input[type=email] {
      
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(61, 57, 57, 0.384);
    box-sizing: border-box;
    }
  
    input[type=submit] {
      background-color: #8ebf42;
      color: white;
      padding: 14px 0;
      margin: 10px 0;
      border: none;
      cursor: grabbing;
      width: 100%;
      }
      input[type=radio] {
        width: auto;
      } 
      
    
    html {
        height: 100%;
    }
    
    body {
      background-color:beige;
    }
    
    /*Card containing 2 cards*/
    .card0 {
      margin: 40px 12px 15px 12px;
      border: 0;
    }
    
    
    
    .bill-head {
      color: #ffffff;
      font-weight: bold;
      margin-bottom: 0px;
      margin-top: 0px;
      font-size: 30px;
    }
    
    .line {
      border-right: 1px rgb(8, 3, 3) solid;
    }
    
    .bill-date {
      color: #BDBDBD;
    }
    
    .red-bg {
      margin-top: 25px;
      margin-left: 0px;
      margin-right: 0px;
      background-color: #F44336;
      padding-left: 20px !important;
      padding: 25px 10px 25px 15px;
    }
    
    #total {
      margin-top: 0px;
      padding-left: 7px;
    }
    
    #total-label {
      margin-bottom: 0px;
      color: #ffffff;
      padding-left: 7px;
    }
    
    #heading1 {
      color: #ffffff;
      font-size: 20px;
      padding-left: 10px;
    }
    
    #heading2 {
      font-size: 27px;
      color: #D50000;
    }
    
    /*For font-awesome icons in Placeholder*/
    .placeicon {
      font-family: fontawesome !important;
    }
    
    /*Right Side Card*/
    .card2 {
      padding: 25px;
      margin: auto;
      height: 100%;
    }
    
    .form-card .pay {
      font-weight: bold;
    }
    
    .form-card input, .form-card textarea {
        padding: 10px 8px 10px 8px;
        border: none;
        border: 1px solid rgb(17, 4, 4);
        border-radius: 0px;
        margin-bottom: 25px;
        margin-top: 2px;
        width: 30%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        font-size: 14px;
        letter-spacing: 1px;
    }
    
    .form-card input:focus, .form-card textarea:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: none;
        font-weight: bold;
        border: 1px solid rgb(20, 18, 18);
        outline-width: 0;
    }
    
    .btn-info {
      color: #ffffff !important;
    }
    
    /*Imaged Radio Buttons*/
    .radio-group {
        position: relative;
        margin-bottom: 25px;
    }
    
    .radio {
        display:inline-block;
        width: 204;
        height: 64;
        border-radius: 0;
        background: lightblue;
        box-sizing: border-box;
        border: 2px solid rgb(16, 11, 11);
        cursor:pointer;
        margin: 8px 25px 8px 0px; 
    }
    
    .radio:hover {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    }
    
    .radio.selected {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.4);
    }
    
    /*Fit image in bootstrap div*/
    .fit-image{
        width: 50%;
        object-fit: cover;
    }
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --tenne-tawny: #0b08d6;
    --tenne-tawny-dark: #0616f5;
}
body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

/*  */
.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}
.text{
    opacity: 0.8;
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}

/*  */
#ElitePeak{
    background-color: #0704a100;
    color: rgb(255, 255, 255);
    --tenne-tawny: #0b08d600;
    --tenne-tawny-dark: #0616f500;
}
.container{
    min-height: 100vh;
}
.hotel-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: rgba(66, 65, 65, 0.329);
    text-align: center;
}
.hotel-search{
    margin: 2rem 0;
}
.hotel-search cite{
    font-size: 1rem;
}
.hotel-search-box{
    margin: 1.0rem 0;
    display: flex;
    align-items: stretch;
}
.search-control,
.search-btn{
    width: 100%;
}
.search-control{
    color: #e4e1e1a8;
    padding: 0 1rem;
    font-size: 0.9rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid var(--tenne-tawny);
    color: var(--tenne-tawny);
   /* border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;*/
}
.search-control::placeholder{
    color: var(--tenne-tawny);
}
.search-btn{
    width: 200px;
    height: 55px;
    font-size: 1.8rem;
    background: var(--tenne-tawny);
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.search-btn:hover{
    background: var(--tenne-tawny-dark);
}
.hotel-result{
    margin-top: 4rem;
}
#hotel{
    margin: 2.4rem 0;
}
.hotel-item{
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
}
.hotel-img img{
    width: 100%;
    display: block;
}
.hotel-name{
    padding: 1.5rem 0.5rem;
}
.hotel-name h3{
    font-size: 1.4rem;
}
.rooms-btn{
    text-decoration: none;
    color: #fff;
    background: var(--tenne-tawny);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.rooms-btn:hover{
    background: var(--tenne-tawny-dark);
}

/* hotel details */
.hotel-details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #fff;
    background: var(--tenne-tawny);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
}
.hotel-details::-webkit-scrollbar{
    width: 10px;
}
.hotel-details::-webkit-scrollbar-thumb{
    background: #f0f0f0;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}


/* js related */
.showrooms{
    display: block;
}

.hotel-details-content{
    margin: 2rem;
}
.hotel-details-content p:not(.rooms-category){
    padding: 1rem 0;
}
.rooms-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}
.rooms-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.rooms-category{
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.rooms-category{
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.rooms-instruct{
    padding: 1rem 0;
}
.rooms-hotel-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.rooms-link{
    margin: 1.4rem 0;
}
.rooms-link a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.rooms-link a:hover{
    opacity: 0.8;
}


/*  */
.notFound{
    grid-template-columns: 1fr!important;
    color: var(--tenne-tawny);
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}






/* Media Queries */
@media screen and (min-width: 600px){
    .hotel-search-box{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    #hotel{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .hotel-item{
        margin: 0;
    }
    .hotel-details{
        width: 700px;
    }
}

@media screen and (min-width: 992px){
    #hotel{
        grid-template-columns: repeat(3, 1fr);
    }
}
body {
  display: block;
  justify-content: center;
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  text-align: center;
  }
  form {
  border: 5px solid #F1F1F1;
  margin-top: 40px;
  width: 90%;
  display: inline-block;
  }
  input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 16px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(61, 57, 57);
  box-sizing: border-box;
  }
  input[type=submit] {
    background-color: #3891B9;
    color: white;
    margin: 10px 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    letter-spacing: normal;
    word-spacing: normal;
    }
    input[type=radio] {
      width: auto;
    }
    .card {
      width: 30%;
      border: 5px solid rgb(22, 107, 177);
      border-radius: 17px;
       margin-top: 60px;
       display: inline-block;
  }
 #form {
  width: 70%;
  margin: auto 0px;
  border: 2px solid black;
 }
input {
border: 2px solid rgb(0, 0, 0);
}
label{
color: rgb(0, 0, 0);
font-size: 20px;
display: grid;
text-align: left;
}


.pages {
  align-items: center;
  appearance: none;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.pages:active {
  border-color: #4a4a4a;
  outline: 0;
}

.pages:focus {
  border-color: #485fc7;
  outline: 0;
}

.pages:hover {
  border-color: #b5b5b5;
}

.pages:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}